<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>828996675392-3ij6lqvb8pg2oqiv0osv7anafgdcseqi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.828996675392-3ij6lqvb8pg2oqiv0osv7anafgdcseqi</string>
	<key>API_KEY</key>
	<string>AIzaSyDdO5wdxDKz4oSZV8_Jn_D6CILUnU7IG7I</string>
	<key>GCM_SENDER_ID</key>
	<string>828996675392</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ahlustore.video</string>
	<key>PROJECT_ID</key>
	<string>ahlustore-video</string>
	<key>STORAGE_BUCKET</key>
	<string>ahlustore-video.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:828996675392:ios:1655f7ae9dfa67cc67fca5</string>
	<key>DATABASE_URL</key>
	<string>https://ahlustore-video-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>